.bottle-table {
    width: 100%;
    border-collapse: collapse;
    /* Ajoutez d'autres styles de tableau selon vos préférences */
  }
  
  .bottle-table th,
  .bottle-table td {
    padding: 8px;
    border: 1px solid #ccc;
    /* Ajoutez d'autres styles de cellule de tableau selon vos préférences */
  }
  
  .bottle-table th {
    background-color: #f2f2f2;
    /* Ajoutez d'autres styles d'en-tête de tableau selon vos préférences */
  }
  
  .readonly {
    background-color: #f9f9f9;
    /* Ajoutez d'autres styles pour les champs non éditables */
  }
  