 /* .bottle-table {
    width: 100%;
    border-collapse: collapse;
   }
  
  .bottle-table th,
  .bottle-table td {
    padding: 8px;
    border: 1px solid #ccc;
 }
  
  .bottle-table th {
    background-color: #f2f2f2;
  }
  
  .readonly {
    background-color: #f9f9f9;
  }
   */

   /* .container-BC {
    padding: 2em;
    margin: 0.5em;
    ;
   }
 
   .bottle-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .bottle-table th,
  .bottle-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .bottle-table th {
    background-color: #c6bdbd;
  }
  
  .bottle-table tbody tr:nth-child(odd) {
    background-color: #c9c5c8;
  }
  
  .readonly {
    background-color: #f9f9f9;
  } */
  
/* .add-boutton {
  display: flex;
} */