.renseignement-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-direction: column;
}

.renseignement-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vins-container, .olfactif, .gustatif {
    width: 100%;
    padding: 2em;
}
.vins-container>h2,
.olfactif>h2,
.gustatif>h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--dark-color);
    line-height: 0.1em;
    margin: 0.625em 0 1.25em;
}

.vins-container>h2>span,
.olfactif>h2>span,
.gustatif>h2>span {
    text-transform: uppercase;
    background-color: var(--lightest-color);
    padding: 0 2em;
    font-family: var(--secondary-title-font);
}
.checkbox-container {
    width: 100%;
    height: 5em;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    background: #d2d2d2;
    width: 40px;
    height: 20px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: .3s ease-in-out;
}

.button::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 2px;
    transition: .3s ease-in-out;
}

.checkbox-container>input:checked+.button {
    background: #811111;
}

.checkbox-container>input:checked+.button::before {
    transform: translateX(20px);
}

.checkbox-container>input {
    display: none;
}

.vins-container {
    width: 100%;
}

.vin-container {
    display: grid;
    grid-template-columns: 50%50%;
    padding: 1em;
    height: 10vh;
}

.vin-container .checkbox-container {
    display: flex;
    justify-content: flex-end;
}

.vin-container :nth-child(1) {
    margin: 3em 0 0 6em;
}

.vin-container :nth-child(2) {
    margin: 1.5em 6em 0 0;
}

.vin-container>p {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.olfactif>h3,
.gustatif>h3 {
    margin: 2em 0 1em 2em;
    font-weight: 100;
    color: var(--highlight-color);
}

.olfactif-toggle-container-intensity,
.olfactif-toggle-container-aromes, 
.olfactif-toggle-container-intensity-taste,
.olfactif-toggle-container-taste
{
    padding: 2.5em 4.5em 1em 4.5em;
}

.form-infos-complementaires {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3em 3em 3em;
    flex-direction: column;
}
.form-infos-complementaires>label {
    margin: 1em;
    align-self: flex-start;
}

.form-infos-complementaires>textarea {
    height: 40vh;
    width: 50em;
    resize: none;
    outline: none;
    background: #f5f4f4;
    padding: 1em;
    border: #f5f4f4;
    font-family: Archivo;
}

.renseignement-container>button {
    margin: 2em;
    background: none;
    color: black;
    border: 1px solid var(--dark-color);
    position: relative;
}

.renseignement-container>button::before {
    content: "";
    position: absolute;
    left: -100%;
    bottom: 50%;
    width: 100%;
    height: 1px;
    background-color: black;

}
.renseignement-container>button::after {
    content: "";
    position: absolute;
    right: -100%;
    bottom: 50%;
    width: 100%;
    height: 1px;
    background-color: black;
}
.renseignement-container>button:hover {
    background-color: var(--highlight-color);
    color: var(--lightest-color);
}


