.footer-container {
    width: 100%;
    margin: 2em;
    border-top: 2px solid var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}


.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter-container>input {
    width: 20em;
    padding: 0.5em;
    margin: 0.5em;
}
.newsletter-container>button {
    width: 10em;
    padding: 0.5em;
}

.contact-info-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-footer {
    width: 7em;
    height: 7em;
}
.logo-footer>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-icons-container {
    width: 100%;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social-icons-container>a>.social-icon {
    height: 1.2em;
    width: 1.2em;
    fill: var(--dark-color);
}