.navbar-container {
    width: 100%;
    height: 10em;
    margin-bottom: 5em;
    background-color: var(--dark-color);
    border-bottom: 2px solid var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 100;
}

.logo-container {
    width: 8em;
    height: 7em;
    margin-top: 0em;
    border-radius: 4px;
    background-color: var(--dark-color);
}

.logo-container>a>img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    object-position: 100% 0;
}

.nav-dropdown {
    position: relative;
}

.nav-dropdown>span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-ateliers {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--lightest-color);
    border: 1px solid var(--light-color);
    padding: 10px;
    display: none;
}

.nav-ateliers>a {
    display: block;
    padding: 5px;
    color: var(--dark-color);
    text-decoration: none;
}

.nav-ateliers>a:hover {
    background-color: var(--light-color);
}

.nav-dropdown:hover .nav-ateliers {
    display: block;
}

.navbar-container>a,
.nav-dropdown {
    height: 2em;
    width: 10em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--light-color);
    transition: 0.2s ease-out;
}

.navbar-container>a:hover,
.nav-dropdown:hover,
.navbar-container>a.active,
.nav-ateliers>a.active,
.navbar-container>a.active .profil-icon  {
    color: var(--highlight-color);
    fill: var(--highlight-color);
}

@media screen and (max-width: 860px) {
    .navbar-container {display: none;}
}