.users-list-page {
  margin-left: 13em;
}

.users-list-page>h1 {
  margin-top: 1.5em;
}
.table-style {
    background-color: var--(#f2f2f2);
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
    margin-bottom: 2em;
  }
th, td {
    padding: 8px;
    text-align: left;
  }
td {
  letter-spacing: 1px;
}
th {
    background-color: var(--highlight-color);
    color: var(--lightest-color);
    font-weight: 100; 
    letter-spacing: 2px;
  }
.table-style tbody tr {
    border-bottom: 1px solid #dddddd;
}
.table-style tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
}
.table-style tbody tr:last-of-type {
    border-bottom: 1px solid var(--wine-color);
}
.add-button {
  margin-bottom: 1.5em;
  text-align: center;
}
.dashboard-img {
  text-align: center;
  padding: 10em;
}

/* .btn {
  width: 0;
} */