@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --title-font: 'Playfair Display', serif;
  --secondary-title-font: 'Syne', sans-serif;
  --main-font: 'Archivo', sans-serif;
  --lightest-color: #FFF;
  --light-color: #f5f5f5;
  --highlight-color: #D6BC44;
  --dark-color: #202020;
  --wine-color: #C42727;
  --faded-color: rgb(171, 171, 171);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: var(--main-font);
  letter-spacing: 0.1em;
  user-select: none;
}

body::-webkit-scrollbar {display: none;}

h1 { 
  font-family: var(--title-font);
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 1.5em;
  text-align: center;
  font-weight: 100;
}

h2,
h3 {
  font-family: var(--secondary-title-font);
  letter-spacing: 0.2em;
}

p {
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
.inscription-btn {
  width: 20%;
  margin: 2em;
  padding: 0.8em;
  text-decoration: none;
  text-align: center;
  background: none;
  color: black;
  font-weight: 700;
  border: 1px solid var(--dark-color);
  position: relative;
  cursor: pointer;
}

button::before,
.inscription-btn::before {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 50%;
  width: 100%;
  height: 0.5px;
  background-color: black;
  transition: 0.5s ease-in-out;
}
button::after,
.inscription-btn::after {
  content: "";
  position: absolute;
  right: -100%;
  bottom: 50%;
  width: 100%;
  height: 0.5px;
  background-color: black;
  transition: 0.5s ease-in-out;
  z-index: -5;

}

button:hover {
  background-color: var(--highlight-color);
  color: var(--lightest-color);
}

/* button:hover::before {
  width: 50%;
  height: 0.5px;
  top: -7px;
  left: -20%;
  border-top: 1px solid var(--dark-color);
  border-left: 1px solid var(--dark-color);
}

button:hover::after {
  width: 50%;
  height: 0.5px;
  bottom: -7px;
  right: -20%;
  border-top: 1px solid var(--dark-color);
  border-right: 1px solid var(--dark-color); 
}*/