@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --title-font: 'Playfair Display', serif;
  --secondary-title-font: 'Syne', sans-serif;
  --main-font: 'Archivo', sans-serif;
  --lightest-color: #FFF;
  --light-color: #f5f5f5;
  --highlight-color: #D6BC44;
  --dark-color: #202020;
  --wine-color: #C42727;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: var(--main-font);
  letter-spacing: 0.1em;
}

body::-webkit-scrollbar {display: none;}

h1 { 
  font-family: var(--title-font);
  text-transform: uppercase;
  color: var(--highlight-color);
  margin-bottom: 1.5em;
}

h2,
h3 {
  font-family: var(--secondary-title-font);
  letter-spacing: 0.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
.inscription-btn {
  text-decoration: none;
  text-align: center;
  width: 10em;
  padding: 0.5em;
  background: var(--wine-color);
  border: none;
  color: var(--lightest-color);
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: 0.3s ease-out;
}

button:hover,
.inscription-btn:hover { background: var(--highlight-color); }






